<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
     
  <title>Photo Gallery</title>
</head>
<body>
  Album --> <a href="/blogs" target="_blank">Album</a>
  <form  method="POST" enctype="multipart/form-data" action="/post" >
    <input type="text" placeholder="post" name="post_title">
    <!-- <input type="file" name="post_iamge"> -->
    <input type="file" name="post_imasge"/>
    <input type="text" placeholder="comment" name="post_comment">
    <button type="submit">Submit</button>
    <li><a href="/logout">Logout</a></li>
  </form>
</body>
</html>

